.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.MuiDialogTitle-root + .MuiDialogContent-root {
  padding-top: 24px !important;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

footer {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

footer,
.footer-container {
  margin-bottom: 0;
  padding-bottom: 0;
}

.slick-prev:before,
.slick-next:before {
  color: #2e7d32;
  font-size: 28px;
}
.swiper-pagination-bullet {
  background: #ccc !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #6b8b57 !important;
}
/* Flechas del Swiper */
.swiper-button-next,
.swiper-button-prev {
  color: #6a9739; /* mismo verde que el punto activo */
  top: 45%; /* opcional: ajusta la posición vertical */
}

.slick-prev {
  left: -30px;
}
.slick-next {
  right: -30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
